@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sen:wght@400..800&display=swap");
body {
  font-family: "Inter", sans-serif;
}
.auth-container {
  background-image: url("../src/assets/background.png");
  background-position: center center;
  background-size: cover;
}
.main-layout-small-screen {
  min-width: 80%;
  max-width: 90%;
}
.bg-overlay {
  background: linear-gradient(
    45deg,
    rgba(47, 140, 96, 0.7),
    rgba(0, 0, 0, 0.5)
  );
}

/* Hide the default show password icon */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-input-placeholder {
  display: none;
}

input[type="password"]::-webkit-clear-button {
  display: none;
}

input[type="password"]::-webkit-reveal-button {
  display: none;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
/********************** Sidebar Styles ********************/
.sidebar-container .ps-sidebar-root {
  border: none;
  /* background-color: #1f263e;
  border-top-right-radius: 50px;
  height: 100vh !important; */
}
.sidebar-container {
  background-color: #1f263e;
  border-top-right-radius: 50px;
}
.sidebar-container .ps-sidebar-container {
  background-color: #1f263e;
  height: 100vh;
  border-top-right-radius: 50px;
}

.sidebar-container .ps-menu-button {
  color: #fff !important;
}

.sidebar-container .ps-menu-button:hover {
  background-color: rgba(0, 147, 77, 0.3) !important;
}
.sidebar-container .ps-menu-button.active {
  background-color: rgba(0, 147, 77, 0.3) !important;
}
.sidebar-container .logo-menu-item img {
  width: 200px;
  height: auto;
}
.sidebar-container .small-logo img {
  width: 100px;
  height: auto;
}

.sidebar-container .logo-menu-item .ps-menu-button:hover {
  background-color: transparent !important;
  transform: none !important;
  filter: none !important;
}
/* ********************** Header Styles ******************** */
.header-container {
  /* background-image: url("../src/assets/header-bg.svg"); */
  background: url("../src/assets/header-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center center; */
  border-radius: 20px;
  color: #fff;
  position: relative;
}
/* .header-container-dashboard {
  height: 300px;
} */

/* ********************** Table Styles ******************** */
.table-header th {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-inline-start: 20px;
}
.table-header th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.table-header th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.table-header .table-header-img {
  text-align: center !important;
}

.table-body td {
  padding-inline-start: 20px;
  padding-bottom: 12px;
  padding-top: 12px;
}

.table-striped tbody tr:nth-of-type(even) > * {
  background-color: #f8f9fb !important;
}
.table-striped {
  --bs-table-striped-bg: #fff;
}
/* ********************** Dropdown Styles ******************** */
.dropdown-menu {
  border: none;
  box-shadow: 0px 1px 8px rgba(127, 127, 127, 0.25);
}
.dropdown button {
  border: none;
  /* width: fit-content; */
}
.dropdown-toggle::after {
  display: none;
}
/********************** Cursor Styles ********************  */
.cursor-pointer {
  cursor: pointer;
}
